@charset "UTF-8";

body {
    font-family: sans-serif;
    font-size: 1.4em;
}

h1 {
    font-weight: 400;
    width: 80vw;
    margin: 2vw;
    font-size: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 2vw;
}

li {
    float: left;
    border: 1px solid #000;
    border-radius: 1.3vw;
    padding: 1.3vw;
    transition: 0.3s;
    margin: 0 10px 10px 0;
}

a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

li:hover {
    color: #fff;
    background-color: #000;
    transition: 0.3s;
}

li:hover a{
    color: #fff;
    transition: 0.3s;
}

/* --------------------------*/ 
@media screen and (min-width: 0px) and (max-width:500px) {
    h1 {
        font-size: 1em;
        margin-bottom: 10vw;
    }
    body {
        font-size: 1.2em;
    }
    li {
        border-radius: 3vw;
        padding: 2.3vw;
    }
}
@media screen and (min-width: 501px) and (max-width:768px) {
    h1 {
        font-size: 1.3em;
        margin-bottom: 5vw;
    }
    body {
        font-size: 1.5em;
    }
    li {
        border-radius: 1.5vw;
        padding: 1.5vw;
    }
}
/* --------------------------*/ 
@media screen and (min-width: 1440px) and (max-width:4000px){
    h1 {
        font-size: 1em;
    }
    body {
        font-size: 2em;
    }
    li {
        border-radius: 1.7vw;
        padding: 1.2vw;
    }
}